EXAMPLE 2 - Guest with additional packages
Assume we want to install a Fedora 14 x86_64 operating system from a Fedora 14 DVD ISO located at http://example.org/fedora-14-x86_64.iso

Additionally assume we want to install the postgresql-server package on the operating system.  To do this install, we first need to build a TDL XML file and then feed that to oz-install.  The TDL file would look like:

.CDS
 <template>
   <name>fedora14_postgres</name>
   <os>
     <name>Fedora</name>
     <version>14</version>
     <arch>x86_64</arch>
     <install type='iso'>
       <iso>http://example.org/fedora-14-x86_64.iso</iso>
     </install>
   </os>
   <description>Fedora 14 x86_64 with postgres</description>
   <packages>
     <package name='postgresql-server'/>
   </packages>
 </template>
.CDE

Notice that this is very similar to Example 1, except we specified an additional package to be installed in the /packages/package portion of the TDL.  Multiple packages can be specified here, and they will all be installed on the operating system.  In this example, all packages are downloaded and installed from the default operating system package repositories.  Running the installation is done the same way as in Example 1, except we have to add a command-line parameter to actually do the customization:

# oz-install -u /path/to/fedora14.tdl

Running this command will download and prepare the installation media, then run an automated install in a KVM guest.

Assuming the initial install succeeds, Oz will then boot the operating system and run native commands to install the additional packages.  For more information about why this approach is used, please see the Oz Architecture document at http://aeolusproject.org/oz-architecture.html

Assuming this final step succeeds, the operating system with the additional packages will be installed on a file in /var/lib/libvirt/images/fedora14_postgres.dsk (by default, the output location can be overridden in the configuration file).
