EXAMPLE 3 - Generate a package manifest (ICICLE) after installation
Assume we want to install a RHEL-5 x86_64 operating system from a RHEL-5 DVD ISO located at http://example.org/rhel-5-x86_64.iso

Additionally assume we want to get a package manifest out of the operating system after the install is done.  To do this install, we first need to build a TDL XML file and then feed that to oz-install. The TDL file would look like:

.CDS
 <template>
   <name>rhel5_x86_64</name>
   <os>
     <name>RHEL-5</name>
     <version>U6</version>
     <arch>x86_64</arch>
     <install type='iso'>
       <iso>http://example.org/rhel-5-x86_64.iso</iso>
     </install>
   </os>
   <description>RHEL-5 x86_64</description>
 </template>
.CDE

This is essentially the same as Example 1, except we want to install RHEL-5 instead of Fedora-13.

Running the installation is done the same was as in Example 1, except we have to add a command-line parameter to generate the manifest at the end:

# oz-install -g /path/to/rhel5.tdl

Running this command will download and prepare the installation media, then run an automated install in a KVM guest.

Assuming the initial install succeeds, Oz will then boot the operating system and run native commands to query all of the packages in the system.  It will then output an XML document (called an ICICLE) describing the entire manifest.

Assuming this step succeeds, the minimal operating system will be install on a feil in /var/lib/libvirt/images/rhel5_x86_64.dsk (by default, the output location can be overridden in the configuration file).
