Source: oz
Maintainer: Hideki Yamane <henrich@debian.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3)
Standards-Version: 3.9.4
Homepage: http://aeolusproject.org/oz.html
Vcs-Git: git://github.com/henrich/oz.git
Vcs-Browser: https://github.com/henrich/oz
X-Python-Version: >= 2.6

Package: oz
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 genisoimage,
 gvncviewer,
 libvirt-dev,
 mtools,
 openssh-client,
 python-guestfs,
 python-libxml2,
 python-libvirt,
 python-pycurl,
 python-numpy,
 python-m2crypto,
 python-parted
Description: installing guest OSs with only minimal input the user
 Oz is a tool for automatically installing guest OSs with only minimal
 up-front input from the user.
