#!/usr/bin/make -f

#DH_VERBOSE=1

PYTHON2=$(shell pyversions -vr)

%:
	dh $@ --buildsystem=python_distutils --with=python2

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info

install/oz::
	mkdir -p debian/oz/var/lib/oz/isocontent/
	mkdir -p debian/oz/var/lib/oz/isos/
	mkdir -p debian/oz/var/lib/oz/floppycontent/
	mkdir -p debian/oz/var/lib/oz/floppies/
	mkdir -p debian/oz/var/lib/oz/icicletmp/
	mkdir -p debian/oz/var/lib/oz/jeos/
	mkdir -p debian/oz/var/lib/oz/kernels/
	mkdir -p debian/oz/etc/oz
	install -m 0644 oz.cfg debian/oz/etc/oz/

